allure-report-plugin-api/src/main/resources/xsd/widgets.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn:data.allure.qatools.yandex.ru">

    <xsd:include schemaLocation="testcases.xsd"/>

    <xsd:complexType name="key-value-widget-item">
        <xsd:all>
            <xsd:element name="key" type="xsd:string"/>
            <xsd:element name="value" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>
</xsd:schema>
